
.autoblur {
    animation: autoBlurAnimation linear both;
    animation-timeline: view();
}

@keyframes autoBlurAnimation {
    0% {
        filter: blur(40px);
    }

    40%,
    60% {
        filter: blur(0px);
        transform: translateY(0px);
        opacity: 1;
    }

    100% {
        filter: blur(40px);
        transform: translateY(-200px);
        opacity: 0;
    }
}

.autoTakeFull {
    animation: autoTakeFullAnimation both;
    animation-timeline: view(70% 65%);
}

@keyframes autoTakeFullAnimation {
    to {
        width: 100%;
        height: 100vh;
        border-radius: 0px;
        margin-bottom: 100px;
    }
}


.autoPlay {
    animation: autoPlayAnimation linear both;
    animation-timeline: view(70% 5%);
}

@keyframes autoPlayAnimation {
    from {
        opacity: 0;
        transform: translateY(20px) scale(0.3);
    }

    to {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}